{% extends 'index.html' %}

{% block title %}Register Now - YCF{% endblock title %}

{% block navbarstyle %} bg-transparent {% endblock navbarstyle %}

{% block loginbutton %} {% endblock loginbutton %}

{% block body %}
<h2 class="text-center mt-2"> Just a few steps more to go...</h2>
<h4 class="text-center"> Create new account</h4>
<div class="container col-sm-5 mt-3">

    <form action="/handlesignup" method="POST"> {% csrf_token %}
        <div class="row mb-4">
            <div class="col">
                <div class="form-outline">
                    <input type="text" id="form3Example1" class="form-control" />
                    <label class="form-label" name="first_name">First name</label>
                </div>
            </div>
            <div class="col">
                <div class="form-outline">
                    <input type="text" id="form3Example2" class="form-control" />
                    <label class="form-label" name="last_name">Last name</label>
                </div>
            </div>
        </div>

        <div class="form-outline mb-4">
            <input type="email" id="form2Example1" class="form-control" />
            <label class="form-label" name="phone">Phone Number (+91)</label>
        </div>

        <div class="form-outline mb-4">
            <input type="email" id="form2Example1" class="form-control" />
            <label class="form-label" name="email">Email address</label>
        </div>

        <div class="form-outline mb-4">
            <input type="password" id="form2Example2" class="form-control" />
            <label class="form-label" name="pswd">Password</label>
        </div>

        <div class="form-outline mb-4">
            <input type="password" id="form2Example2" class="form-control" />
            <label class="form-label" name="cpswd">Confirm Password</label>
        </div>

        <div class="row mb-4">
            <div class="col">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="form2Example34" checked />
                    <label class="form-check-label"> By clicking here, I state that I have read and understood the terms and conditions of Your Choise Food website. </label>
                </div>
            </div>
        </div>

        <!-- Submit button -->
        <button type="submit" class="btn btn-primary mb-4 d-grid gap-2 col-6 mx-auto">Create Account</button>

        <!-- Register buttons -->
        <div class="text-center">
            <p>Already have a account? <a href="/login">Login Now</a></p>
        </div>
    </form>
</div>

{% endblock body %}